# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Data
*.xlsx
*.xlsm
*.csv

# Testing
!**/data/raw/Testing/*
**/data/raw/Testing/*xlsm#
**/data/raw/Testing/*xlsx#


# Logs
logs/
*.log

# OS junk
.DS_Store
Thumbs.db   